*,
*:before,
*:after{
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	font: 12px Arial, sans-serif;
	line-height: 1;
	background-color:#fff;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
:focus {outline: 0}
b,strong{font-weight:700;}
i, em{font-style:italic;}
sub{vertical-align: sub;font-size: smaller;}
sup{vertical-align: super;font-size: smaller;}

.noreset p,.noreset ul,.noreset ol,.noreset dl{margin:16px 0;line-height:20px;}
.noreset dt,.noreset dd{line-height:20px;}
.noreset ul,.noreset ol,.noreset dd{padding-left:40px;}
.noreset h1, .noreset h2, .noreset h3, .noreset h4, .noreset h5, .noreset h6{margin:21px 0;font-weight:bold;}
.noreset h1{font-size:2em;}
.noreset h2{font-size:1.5em;}
.noreset h3{font-size:1.17em;}
.noreset h5{font-size:0.83em;}
.noreset h6{font-size:0.67em;}
.noreset ul{list-style-type: disc;}
.noreset ol{list-style-type: decimal;}